#form1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: antiquewhite;
    max-width: fit-content;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px;


}

#temp{

    text-align: center;
    border: 2px dotted hsl(0, 0%, 18%);
}

